* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  display: grid;
  justify-content: center;
}

main {
  background: #222;
  width: 80vw;
  min-height: 80vh;
  display: grid;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  grid-template-columns: repeat(50% , 2);
}